input {
  outline-color: rgb(49, 66, 245);
  width: 490px;
  height: 70px;
  border-radius: 15px;
  /* background-color: #ffffff; */
  border-color: #b5b5b5;
  /* color: #000000; */
}
.app-btn {
  height: 80px;
  background-color: #3b81f6;
  color: #fff;
}
.modal {
  display: none;
}
